<!DOCTYPE html>
<html>
<head>
<title>下拉菜单实例|码农教程(www.manongjc.com)</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../static/css/first.css">
</head>
<body>
<div class="navbar">
<ul>
    <div class="navbar-brand">
    <li>company logo<img src="#" style="height:71px;weight:296px;"></li>
    </div>
    <div class="navbar-info">
        <li><a class="active" href="#home">主页</a></li>
        <li class="dropdown"><a href="#news">实验室家具</a>
        <div class="dropdown-content">
          <a href="#">链接 1</a>
          <a href="#">链接 2</a>
          <a href="#">链接 3</a>
        </div>
        </li>
        <li><a href="#news">实验室工程</a></li>
        <li><a href="#news">实验解决方案</a></li>
        <li><a href="#news">工程实例</a></li>
        <li><a href="#news">联系我们</a></li>
    </div>
</ul>
</div>
<div class="container">
			<div class="photo">
				<img src="../static/img/1.jpg" />
				<img src="../static/img/2.jpg" />
				<img src="../static/img/3.jpg" />
			</div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="w-slide-btn-box  " data-autocenter="1">
        <!-- bullet navigator item prototype -->
        <div class="w-slide-btn" data-u="prototype"></div>
    </div>
    <!-- 1Arrow Navigator -->
    <span data-u="arrowleft" class="w-slide-arrowl slideArrow  " data-autocenter="2" id="left_tem_6_44">
        <i class="w-itemicon mw-iconfont">&#xa083;</i>
    </span>
    <span data-u="arrowright" class="w-slide-arrowr slideArrow  " data-autocenter="2" id="right_tem_6_44">
        <i class="w-itemicon mw-iconfont">&#xa079;</i>
    </span>
</div>
<div>
    <strong class="stext">我们的产品</strong>
    <hr class="line">
</div>
<div class="header">
    <div class="body">
        <ul>
        <li>
            <div class="body-img"><a href="#"><img src="../static/img/中央台.jpg" height="240" width="240"></a> </div>
        </li>
        <li>
            <div class="body-img"><a href="#"><img src="../static/img/全钢边台.jpg" height="240" width="240"></a> </div>
        </li>
        <li>
            <div class="body-img"><a href="#"><img src="../static/img/功能柜.JPG" height="240" width="240"></a> </div>
        </li>
        <li>
            <div class="body-img"><a href="#"><img src="../static/img/通风柜-1_看图王.jpg" height="240" width="240"></a> </div>
       </li>
        <ul/>
    </div>
</div>
<div>
    <hr>
</div>
<div style="height: 240px;width: 900px;display: block;margin:auto">
    <div style="height: 240px;width: 240px;float:left">
        <img src="../static/img/气体.jpg" height="240" width="240">
    </div>
    <div style="height: 240px;float:right">
        <p>杭州时创实验室科技有限公司是一家专业从事实验室建设的服务商。主要业务包括实验室建设咨询、实验室规划设计、实验室装修施工、实验室设备（实验台柜、通风设备、气路设备）供货安装、实验室售后服务，为客户提供从设计到施工一站式的实验室解决方案。
      我们服务的实验室类型涵盖检测类实验室（如食品、药品、环境、化妆品、电子产品等）、研发型实验室、医学检验实验室、微生物实验室、洁净室、恒温恒湿实验室、P2实验室、PCR实验室等各类专业性实验室。
      我们核心的设计和项目施工管理人员都具备至少十年的从业经验。</p>
    </div>
</div>
<div class="right_fbox">
    <div>
        <a href="#"> <h1><strong>点此联系qq</strong></h1></a>
    </div>
</div>
</body>
</html>