<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap 实例</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/design.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <div class="row" style="margin-top: 50px;">
        <div class="col-2"><img src="#">Company logo</div>
        <div class="col"></div>
        <div class="col align-self-end">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <ul class="nav nav-tabs nav-pills">
                    <li><a href="#" class="nav-link">HTML</a> </li>
                    <li><a href="#" class="nav-link">CSS</a> </li>
                    <li class="dropdown" style="font-size: 18px;margin-top: 8px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">JS
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">tab1</a> </li>
                            <li><a href="#">tab2</a> </li>
                            <li><a href="#">tab3</a> </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="carousel slide demo" id="carousel-demo">
        <ul class="carousel-indicators">
            <li data-target="#carousel-demo" data-slide="0" class="active"></li>
            <li data-target="#carousel-demo" data-slide="1"></li>
            <li data-target="#carousel-demo" data-slide="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/img/IMG_0366.JPG" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="../static/img/IMG_0359.JPG" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="../static/img/IMG_0011%20(2).JPG" class="d-block w-100">
            </div>
        </div>
        <a href="#carousel-demo" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#carousel-demo" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    </div>
<br>
<div class="container">
    <div class="row justify-content-center" style="padding:10px;">
        <div class="col-2"><h4>our thing</h4></div>
    </div>
    <hr>
    <div class="card-deck">
      <div class="card">
          <a href="#">
                <img src="../static/img/001_看图王.jpg" height="240" width="120" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">title</h4>
                </div>
              </a>
      </div>
     <div class="card">
         <a href="#">
             <img src="../static/img/001_看图王.jpg" height="240" width="120" class="card-img-top">
             <div class="card-body">
                <h4 class="card-title">title</h4>
             </div>
         </a>
      </div>
      <div class="card">
          <a href="#">
              <img src="../static/img/001_看图王.jpg" height="240" width="120" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">title</h4>
              </div>
          </a>
      </div><div class="card">
        <a href="#">
            <img src="../static/img/001_看图王.jpg" height="240" width="120" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">title</h4>
            </div>
        </a>
      </div>
    </div>
    <hr>
    <div class="row justify-content-around demo"style="height: 300px;margin-top: 20px;">
        <div class="col-2">
            <b class="glyphicon glyphicon-chevron-right"></b>
            <span>关于我们</span>
            <img src="../static/img/QQ图片20190527173421.jpg" height="200" width="221">
        </div>
        <div class="col-6">
            <h8>      杭州时创实验室科技有限公司是一家专业从事实验室建设的服务商。主要业务包括实验室建设咨询、实验室规划设计、实验室装修施工、实验室设备（实验台柜、通风设备、气路设备）供货安装、实验室售后服务，为客户提供从设计到施工一站式的实验室解决方案。

      我们服务的实验室类型涵盖检测类实验室（如食品、药品、环境、化妆品、电子产品等）、研发型实验室、医学检验实验室、微生物实验室、洁净室、恒温恒湿实验室、P2实验室、PCR实验室等各类专业性实验室。

      我们核心的设计和项目施工管理人员都具备至少十年的从业经验。

 </h8>
        </div>
    </div>

</div>
<br>
    <div class="row " style="height: 100px;background: grey;">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-2 align-item-end">
                    <div class="row demo">
                        <h5>first senctence</h5>
                    </div>
                    <div class="row">
                        <h5>second senctence</h5>
                    </div>
                    <div class="row">
                        <h5>third senctence</h5>
                </div>
                </div>
                <div class="col-4" style="border:1px black solid"></div>
                <div class="col-3" style="border:1px black solid"></div>
            </div>
        </div>
    </div>
<div style="
			width: 200px;
			height: 300px;/*除去header已占的64px， 高度铺满视窗*/
			position: fixed;/*固定侧边栏，脱离文档流*/
            top:100px;">
    <div class="contact">
        <h1>联系我们</h1><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes"><img border="0" src="http://pub.idqqimg.com/wpa/images/counseling_style_52.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
    </div>
    <div style="width:200px;height: 200px;">
        <img src="../static/img/20190605_155508.jpg" width="200" height="200">
    </div>
</div>
</body>
</html>